'exception-reporting':
  'userId': 'ee24cf00-f793-9081-be2a-2cdae5536b7f'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '51eeb6113c1ae801c9aade9b6d679aa5189ced25'
'editor':
  'fontFamily': 'SourceCodePro-Light'
  'preferredLineLength': 100
  'invisibles':
    'cr': '↩'
    'eol': ''
    'space': '·'
    'tab': '⇥'
  'tabLength': 2
  'normalizeIndentOnPaste': false
  'fontSize': 15
  'showInvisibles': true
'core':
  'projectHome': '/Volumes/Data/Users/Lee/Source'
  'disabledPackages': [
    'autosave'
  ]
  'ignoredNames': [
    '.git'
    '.hg'
    '.svn'
    '.DS_Store'
    '.keep'
  ]
  'themes': [
    'lifted-dark-ui'
    'ya-railscasts-syntax'
  ]
'whitespace':
  'ensureSingleTrailingNewline': true
'auto-copyright':
  'buffer': 1
  'owner': 'Lifted Studios'
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'tree-view':
  'hideIgnoredNames': true
'autosave': {}
'remember-window':
  'storeOutsideMainConfig': true
'tabs-to-spaces':
  'onSave': 'untabify'
'git-diff':
  'showIconsInEditorGutter': true
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'fancy-new-file':
  'suggestCurrentFilePath': true
'autocomplete-plus':
  'fileBlacklist': '.*'
'autocomplete-emojis':
  'fileWhitelist': '*.md, COMMIT_EDITMSG'
'overrides':
  'scopes':
    'source':
      'gfm':
        'showInvisibles': false
        'softWrap': true
        'tabLength': 4
      'java':
        'tabLength': 4
      'python':
        'tabLength': 4
      'shell':
        'tabLength': 4
'the-closer':
  'closeWindowTogetherWithLastTab': false
'minimap':
  'autoToggle': true
'wrap-guide':
  'columns': [
    {
      'scope': 'source.gfm'
      'column': -1
    }
    {
      'scope': 'text.git-commit'
      'column': 72
    }
    {
      'scope': 'text.haml'
      'column': -1
    }
  ]
'atom-color-highlight':
  'hideMarkersInComments': true
  'hideMarkersInStrings': true
'break':
  'microBreakIntervalInSeconds': 900
  'microBreakLengthInSeconds': 30
  'macroBreakIntervalInMicroAmount': 4
'package-generator':
  'createInDevMode': true
'atom-lint':
  'rubocop':
    'showDisplayCopNames': true
