'global':
  'exception-reporting':
    'userId': 'ee24cf00-f793-9081-be2a-2cdae5536b7f'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '51eeb6113c1ae801c9aade9b6d679aa5189ced25'
  'editor':
    'fontFamily': 'Source Code Pro'
    'preferredLineLength': 100
    'invisibles':
      'cr': '↩'
      'tab': '⇥'
      'eol': ' '
    'normalizeIndentOnPaste': false
    'showInvisibles': true
    'scrollPastEnd': true
    'useShadowDOM': true
  'core':
    'ignoredNames': [
      '.git'
      '.hg'
      '.svn'
      '.DS_Store'
      '.keep'
      '._*'
      '*.pyc'
    ]
    'themes': [
      'atom-dark-ui'
      'solarized-dark-syntax'
    ]
  'auto-copyright':
    'owner': 'Lifted Studios'
  'spell-check':
    'grammars': [
      'source.gfm'
      'text.git-commit'
      'text.plain'
    ]
  'tree-view':
    'hideIgnoredNames': true
    'hideVcsIgnoredFiles': true
  'autocomplete':
    'includeCompletionsFromAllBuffers': true
  'fancy-new-file':
    'suggestCurrentFilePath': true
  'autocomplete-plus':
    'fileBlacklist': '.*'
  'atom-color-highlight':
    'hideMarkersInComments': true
    'hideMarkersInStrings': true
  'package-generator':
    'createInDevMode': true
  'atom-lint':
    'rubocop':
      'showDisplayCopNames': true
  'enhanced-package-list':
    'highlightAuthor': 'lee-dohm'
  'wrap-guide':
    'columns': [
      {
        'scope': 'source.gfm'
        'column': -1
      }
      {
        'scope': 'text.git-commit'
        'column': 72
      }
      {
        'scope': 'text.haml'
        'column': -1
      }
    ]
  'white-cursor':
    'enabled': 'detect'
    'darkThemes': [
      'ya-railscasts-syntax'
    ]
'.gfm.source':
  'editor':
    'showInvisibles': false
    'softWrap': true
    'tabLength': 4
'.c.source':
  'editor':
    'tabLength': 4
'.java.source':
  'editor':
    'tabLength': 4
'.python.source':
  'editor':
    'tabLength': 4
'.shell.source':
  'editor':
    'tabLength': 4
