'exception-reporting':
  'userId': 'ee24cf00-f793-9081-be2a-2cdae5536b7f'
'release-notes':
  'viewedVersion': '0.71.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '51eeb6113c1ae801c9aade9b6d679aa5189ced25'
'editor':
  'fontFamily': 'SourceCodePro-Light'
  'preferredLineLength': 100
  'showInvisibles': true
  'invisibles':
    'cr': '↩'
    'eol': ''
    'space': '·'
    'tab': '⇥'
  'tabLength': 2
  'fontSize': 14
'core':
  'projectHome': '/Volumes/Data/Users/Lee/Source'
  'themes': [
    'atom-dark-ui'
    'railscasts-syntax'
  ]
  'disabledPackages': [
    'status-stats'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'whitespace':
  'ensureSingleTrailingNewline': true
  'ignoreWhitespaceOnCurrentLine': false
'auto-copyright':
  'buffer': 1
  'owner': 'Lifted Studios'
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'autocomplete-plus': {}
'tree-view':
  'hideVcsIgnoredFiles': true
'test-status':
  'Rakefile': 'rake spec'
  'Gruntfile': 'grunt spec'
'autosave': {}
'gist-it':
  'userToken': 'foo'
