'atom-workspace':
  'ctrl-cmd-r': 'tree-view:reveal-active-file'
  'ctrl-cmd-t': 'window:run-package-specs'
  'ctrl-shift-alt-t': 'custom:open-todo-list'
'atom-text-editor':
  'ctrl-shift-a': 'asciidoc-preview:toggle'
'.platform-darwin atom-workspace':
  'ctrl-"': 'toggle-quotes:toggle'
