'packages': [
  'advanced-new-file'
  'advanced-railscasts-syntax'
  'atom-color-highlight'
  'auto-copyright'
  'block-travel'
  'bug-report'
  'file-type-icons'
  'highlight-selected'
  'indentation-indicator'
  'language-generic-config'
  'language-haml'
  'language-r'
  'language-swift'
  'language-todotxt'
  'language-treetop'
  'linter'
  'linter-coffeelint'
  'linter-csslint'
  'linter-less'
  'linter-rubocop'
  'linter-scss-lint'
  'linter-shellcheck'
  'minimap'
  'notational-velocity'
  'package-sync'
  'red-wavy-underline'
  'set-syntax'
  'soft-wrap-indicator'
  'sort-lines'
  'space-underscore'
  'symbol-gen'
  'tabs-to-spaces'
  'toggle-quotes'
  'white-cursor'
  'word-jumper'
]
