'packages': [
  'Zen'
  'atom-lint'
  'block-travel'
  'css-color-highlighting'
  'editor-stats'
  'gist-it'
  'language-haml'
  'language-rspec'
  'package-sync'
  'railscasts-syntax'
  'sort-lines'
  'symbol-gen'
  'toggle-quotes'
]
