'packages': [
  'Zen'
  'atom-lint'
  'block-travel'
  'css-color-highlighting'
  'editor-stats'
  'language-haml'
  'language-rspec'
  'package-sync'
  'railscasts-syntax'
  'status-stats'
  'symbol-gen'
  'test-status'
  'toggle-quotes'
  'travis-ci-status'
]
