'.source.coffee':
  Describe:
    prefix: 'desc'
    body: "describe '$1', ->$0"
  It:
    prefix: 'it'
    body: "it '$1', ->$0"
'.source.gfm':
  README:
    prefix: 'readme'
    body: """
      # Project Name

      ## Installation

      ## Use

      ## Configuration

      ## Copyright

    """
'.source.java':
  'private static final':
    prefix: 'psf'
    body: 'private static final'
  'private static final String':
    prefix: 'psfs'
    body: 'private static final String'
  'JUnit Test':
    prefix: 'test'
    body: """
    @Test
    public void ${1:testName}() {$0\n}
    """
  'JUnit Test with Expected Exception':
    prefix: 'testex'
    body: """
    @Test(expected=${1:Exception}.class)
    public void ${2:throwsOnSomething}() {$0\n}
    """
  'JUnit Before':
    prefix: 'bef'
    body: """
    @Before
    public void setUp() {$0\n}
    """
  'Assert':
    prefix: 'ass'
    body: "assertThat(${1:expected}, ${2:actual});$0"
'.source.elixir':
  Context:
    prefix: 'con'
    body: 'context "$1" do$0\nend'
  Describe:
    prefix: 'desc'
    body: 'describe "$1" do$0\nend'
  It:
    prefix: 'it'
    body: 'it "$1" do$0\nend'
  'It One-Line':
    prefix: 'itd'
    body: 'it "$1", do: $0'
  Let:
    prefix: 'let'
    body: 'let :$1 do$0\nend'
  'Let One-Line':
    prefix: 'letd'
    body: 'let :$1, do: $0'
  '@typedoc':
    prefix: 'tdoc'
    body: '''
      @typedoc """
      $0
      """
    '''
  'No Doc':
    prefix: 'nodoc'
    body: '@doc false'
'.source.ruby':
  Before:
    prefix: 'bef'
    body: 'before { $0 }'
  'Before - Do':
    prefix: 'befd'
    body: "before do$0\nend"
  Describe:
    prefix: 'desc'
    body: "describe $1 do$0\nend"
  'FactoryGirl Build':
    prefix: 'fgb'
    body: 'FactoryGirl.build($1)$0'
  'FactoryGirl Build Stubbed':
    prefix: 'fgbs'
    body: 'FactoryGirl.build_stubbed($1)$0'
  'FactoryGirl Create':
    prefix: 'fgc'
    body: 'FactoryGirl.create($1)$0'
  It:
    prefix: 'it'
    body: 'it { $0 }'
  Its:
    prefix: 'its'
    body: 'its($1) { $0 }'
  'It do':
    prefix: 'itd'
    body: "it '$1' do\n$0\nend"
  Let:
    prefix: 'let'
    body: 'let($1) { $0 }'
  'Subject - Named':
    prefix: 'subjn'
    body: 'subject($1) { $0 }'
  Subject:
    prefix: 'subj'
    body: 'subject { $0 }'
'.text.elixir':
  Octicon:
    prefix: 'oct'
    body: '<%= octicon($1) %>'
