# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     prefix: 'log'
#     body: 'console.log $1'
#
'.source.coffee':
  Describe:
    prefix: 'des'
    body: "describe '$1', ->$0"
  It:
    prefix: 'it'
    body: "it '$1', ->$0"
'.source.ruby':
  Before:
    prefix: 'bef'
    body: 'before { $0 }'
  'Before - Do':
    prefix: 'befd'
    body: "before do$0\nend"
  Describe:
    prefix: 'desc'
    body: "describe $1 do$0\nend"
  'FactoryGirl Build':
    prefix: 'fgb'
    body: 'FactoryGirl.build($1)$0'
  'FactoryGirl Build Stubbed':
    prefix: 'fgbs'
    body: 'FactoryGirl.build_stubbed($1)$0'
  'FactoryGirl Create':
    prefix: 'fgc'
    body: 'FactoryGirl.create($1)$0'
  It:
    prefix: 'it'
    body: 'it { $0 }'
  Its:
    prefix: 'its'
    body: 'its($1) { $0 }'
  'It do':
    prefix: 'itd'
    body: "it '$1' do\n$0\nend"
  Let:
    prefix: 'let'
    body: 'let($1) { $0 }'
  'Subject - Named':
    prefix: 'subjn'
    body: 'subject($1) { $0 }'
  Subject:
    prefix: 'subj'
    body: 'subject { $0 }'
