/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

@import "ui-variables";

@import "packages/red-wavy-underline/stylesheets/red-wavy-underline";
@import "packages/white-cursor/stylesheets/white-cursor";

@ui-font-size: 14px;

// UI font setting

atom-workspace {
  font-family: 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', sans-serif;
  font-size: @ui-font-size;
}

// General editor modifications

.editor, atom-text-editor::shadow {
  .comment {
    font-style: normal;
  }

  .cursor {
    transition: opacity 0.5s;
  }

  .markup.raw.gfm {
    font-style: normal;
  }
}

// Uses the white cursor in the terminal package view
.terminal {
  .white-cursor-image;
}

// Brightens the gutter diff indicators to make them more visible
.diff-icon(@color) {
  background-color: fade(@color, 60%);

  &:before {
    color: contrast(fade(@color, 60%));
  }
}

.diff-border(@color) {
  border-color: lighten(@color, 15%);
  border-left-width: 4px;
}

.editor, atom-text-editor::shadow {
  .gutter .line-number {
    padding-left: 10px;

    &.git-line-added {
      .diff-border(@text-color-added);
    }

    &.git-line-modified {
      .diff-border(@text-color-modified);
    }

    &.git-line-removed {
      .diff-border(@text-color-removed);
      padding-left: 6px;
    }
  }

  .gutter.git-diff-icon .line-number {
    &.git-line-added {
      .diff-icon(@text-color-added);
    }

    &.git-line-modified {
      .diff-icon(@text-color-modified);
    }

    &.git-line-removed {
      .diff-icon(@text-color-removed);
    }
  }
}

// Replaces the atom-lint error highlight with the red wavy underline
.editor, atom-text-editor::shadow {
  .violation-border {
    .red-wavy-underline;
  }
}

// Settings View package decorations ... adds icons depending on type of package
.octicons(@char) {
  font-family: "Octicons Regular";
  content: @char;
  margin-right: 5px;
}

.settings-view .config-menu .panels-packages {
  .bundled-package .icon > span:first-child:before {
    .octicons("\f00a");
  }

  .incompatible-package .icon > span:first-child:before {
    .octicons("\f091");
    color: @text-color-error;
  }

  .disabled-package {
    opacity: 0.5;

    .icon > span:first-child:before {
      .octicons("\f081");
      color: @text-color-error;
    }
  }

  .author-highlight .icon > span:first-child:before {
    .octicons("\f018");
    color: @text-color-info;
  }

  > li > a {
    font-size: @ui-font-size;
  }

  > li.author-highlight > a {
    color: inherit;

    &:hover {
      color: inherit;
    }

    .package-author {
      color: inherit;
    }
  }
}

// Makes things bigger and more readable

.overlay .select-list ol.list-group li,
.overlay.select-list ol.list-group li {
  font-size: @ui-font-size;
}

.status-bar {
  font-size: @ui-font-size;
  height: @ui-font-size * 2;
  line-height: @ui-font-size * 2 - 4;
}

.tab-bar .tab, .tab-bar .tab.active {
  font-size: @ui-font-size;
  height: @ui-font-size * 2;
}

.tree-view {
  font-size: @ui-font-size;
}

// Highlights trailing whitespace except on the cursor line

.editor, atom-text-editor::shadow {
  div.line:not(.cursor-line) {
    .trailing-whitespace {
      background-color: @background-color-error;
      color: contrast(@background-color-error);
    }
  }
}

// --- Theme-specific Styles ---

.theme-solarized-light-syntax {
  @import "variables";

  .editor, atom-text-editor::shadow {
    .markup.raw.gfm {
      color: @cyan;
    }

    .shell.builtin {
      color: @green;
    }
  }
}
