/*
 * See https://www.atom-tweaks.com for more stylesheet tweaks!
 */
@import "syntax-variables";
@import "ui-variables";

@import "packages/red-wavy-underline/styles/red-wavy-underline";

// Scale UI font sizes based on editor font size
.theme-one-light-ui, .theme-one-dark-ui, .theme-atom-material-ui {
  .advanced-open-file,
  .git-Panel,
  .modal,
  .status-bar,
  .tab-bar,
  .town-crier,
  .tree-view {
    font-size: e("calc(var(--editor-font-size) * 0.88888888889)");
  }

  .github-Git,
  .github-RecentCommit {
    font-size: e("calc(var(--editor-font-size) * 0.77777777778)");
  }
}

.tree-view .selected:before {
  background: hsla(0, 0%, 100%, .2); // show lines underneath
}

.tree-view .directory {
  & > .list-item:before {
    visibility: hidden; // hide arrows
  }

  .selected > .header.list-item ~ .entries.list-tree {
    background:
      linear-gradient(
        to right,
        transparent 24px,
        darken(@base-background-color, 30%) 24px,
        darken(@base-background-color, 30%) 25px,
        transparent 25px
      );
  }

  .header.list-item:hover ~ .entries.list-tree {
    background:
      linear-gradient(
        to right,
        transparent 24px,
        @text-color 24px,
        @text-color 25px,
        transparent 25px
      );
  }
}

.syntax--meta.syntax--separator {
  background-color: inherit;
}

atom-text-editor.editor {
  // font-weight: lighter;
}

// Disable font ligatures
atom-text-editor.editor {
  font-variant-ligatures: no-common-ligatures;
}

// Highlights the cursor line
atom-text-editor {
  .cursor-line {
    background-color: @background-color-highlight;
  }
}

atom-text-editor {
  .syntax--comment {
    font-style: normal;
  }
}

// Makes the cursor pulse instead of blink
atom-text-editor {
  .cursor {
    transition: opacity 350ms ease-in-out;
  }
}

// Un-italicizes code markup in Markdown
atom-text-editor {
  .syntax--markup.syntax--raw.syntax--gfm {
    font-style: normal;
    color: @syntax-color-keyword;
  }
}

// Brightens the gutter diff indicators to make them more visible
.diff-icon(@color) {
  background-color: fade(@color, 60%);

  &:before {
    color: contrast(fade(@color, 60%));
  }
}

.diff-border(@color) {
  border-color: lighten(@color, 15%);
  border-left-width: 4px;
}

@gutter-padding: 15px;

atom-text-editor {
  .gutter .line-number {
    padding-left: @gutter-padding;

    &.git-line-added {
      .diff-border(@text-color-success);
      padding-left: @gutter-padding - 4;
    }

    &.git-line-modified {
      .diff-border(@text-color-warning);
      padding-left: @gutter-padding - 4;
    }

    &.git-line-removed {
      .diff-border(@text-color-error);
      padding-left: @gutter-padding;
    }
  }

  .gutter.git-diff-icon .line-number {
    &.git-line-added {
      .diff-icon(@text-color-success);
    }

    &.git-line-modified {
      .diff-icon(@text-color-warning);
    }

    &.git-line-removed {
      .diff-icon(@text-color-error);
    }
  }
}

// Makes the bracket matcher highlight more noticeable
atom-text-editor {
  .bracket-matcher .region {
    border-bottom: none;
    background-color: rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      }
      70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.2);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.0);
      }
    }
  }
}

// Replaces the atom-lint error highlight with the red wavy underline
.lint .violation-border.violation-warning {
  .red-wavy-underline;
}

// Highlights trailing whitespace except on the cursor line
atom-text-editor {
  div.line:not(.cursor-line) {
    .trailing-whitespace {
      background-color: @background-color-error;
      color: contrast(@background-color-error);
    }
  }
}

// Originally by @simurai
// From: https://github.com/atom/find-and-replace/pull/885#issuecomment-302593400
//
// hide find+replace close button
.find-and-replace .close-button {
  display: none;
}

terminal-view .xterm {
  font-family: 'Anka/Coder', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 16px;
}

// NO ITALICS
.syntax--source.syntax--elixir {
  .syntax--parameter.syntax--variable.syntax--function {
    font-style: normal;
  }
}

// Make headings in Markdown bold
.syntax--markup.syntax--heading {
  font-weight: bold;
}

// -------------------------
// file-icons customizations
// -------------------------

// Remove custom colors from icons so they match the text they're with
.icon:before {
  color: inherit;
}

.icon[data-name="README.md"]:before {
  content: "\f0c9"
}

.icon[data-name$=".slime"]:before {
  font-family: Devicons;
  content: "\E696";
}
