/*
* Your Stylesheet
*
* This stylesheet is loaded when Atom starts up and is reloaded automatically
* when it is changed.
*
* If you are unfamiliar with LESS, you can read more about it here:
* http://www.lesscss.org
*/

@hints-color: #c5c8c6;
@hints-opacity: 0.3;
@trailing-whitespace-bg-color: red;

.editor {
  .comment {
    font-style: normal;
  }

  .invisible-character {
    color: @hints-color;
    opacity: @hints-opacity;
  }

  .source {
    .gfm {
      -webkit-font-smoothing: auto;
    }
  }

  .trailing-whitespace {
    background-color: @trailing-whitespace-bg-color;
    color: contrast(@trailing-whitespace-bg-color);
    opacity: 1.0;
  }

  .wrap-guide {
    background-color: @hints-color;
    opacity: 0.3;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
